.column {
    display: flex;
    flex-direction: column;
    padding: 0 0.1rem;

    &:hover {
        background-color: darkred;
    }
}

.column:hover > *:first-child {
    background-image: url("src/assets/disc.png");
    background-size: cover;
}